body{
background-image: url("jL0b6u.gif");
font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 40px;
}

.halloffameilluminatu{
  background-image: url("https://vignette4.wikia.nocookie.net/villains/images/7/78/Illuminati-Logo.png/revision/latest?cb=20150529234113");
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 40px;
}
.halloffame{
  background-image: url("Sanic.gif");
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 40px;
  color: #FFFFFF;
}
.rainbowfrog{
  background-image: url("200.gif");
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 40px;
}
